.container{
    max-width: 1530px;
    padding: 0 $padding;

    *:not(.blob){
        position: relative;
        z-index: 10;
    }
}
section{
    padding: 0 $padding;
}

section:nth-child(2){
    padding-top: 120px;
}
.content-wrapper{
    max-width: 1920px;
    margin: auto;
}

.align-items-center{
    display: flex;
    align-items: center;
}
.full-width{
    width: 100%;
}


@media (max-width: $mobile-breakpoint) {

    .row{
        >*{
            margin-bottom: $padding;
        }
    }
    
    .mobile-reverse-column{
        display: flex;
        flex-direction: column-reverse;
    }
}