//Primary colors
$primary-900: #5f005c;
$primary-700: #a700a1;
$primary-500: #FF02F5;
$primary-300: #ff67fa;
$primary-100: #ffaffc;

//Secondary colors
$secondary-900: #2c00a7;
$secondary-700: #4402FF;
$secondary-500: rgb(66, 105, 160);
$secondary-300: rgb(109, 137, 178);
$secondary-100: #90b3e5;

//Tertiary colors
$tertiary-900: green;
$tertiary-700: green;
$tertiary-500: green;
$tertiary-300: green;
$tertiary-100: green;

//Quaternary colors
$quaternary-900: green;
$quaternary-700: green;
$quaternary-500: green;
$quaternary-300: green;
$quaternary-100: green;

//Neutral colors
$neutral-900: #050505;
$neutral-700: #444444;
$neutral-500: #747474;
$neutral-300: #B1B1B1;
$neutral-100: #ffffff;

//Aditional colors:
$transparent: transparent;