//Primary colors
$primary-900: rgb(24, 41, 110);
$primary-700: #1b318c;
$primary-500: #354cab;
$primary-300: #5c75d9;
$primary-100: #8aa0f7;

//Secondary colors
$secondary-900: #14243b;
$secondary-700: #1D3557;
$secondary-500: #244676;
$secondary-300: #255daa;
$secondary-100: #1b70e7;

//Tertiary colors
$tertiary-900: green;
$tertiary-700: green;
$tertiary-500: green;
$tertiary-300: green;
$tertiary-100: green;

//Quaternary colors
$quaternary-900: green;
$quaternary-700: green;
$quaternary-500: green;
$quaternary-300: green;
$quaternary-100: green;

//Neutral colors
$neutral-900: #000000;
$neutral-700: #444444;
$neutral-500: #747474;
$neutral-300: #B1B1B1;
$neutral-100: #ffffff;

//Aditional colors:
$transparent: transparent;