//IMPORT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Buttons
.burger{}
    
//Headings
h1{
    font-size: 8rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}
h2{
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}



//VARIANTS
.gradient{
    background: -webkit-linear-gradient(0deg, $secondary-700, $primary-700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Tablet
@media (max-width: $tablet-breakpoint) {

    //Headings
    h1{
        font-size: 7rem;
    }

    h2{
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
}

//Mobile
@media (max-width: $mobile-breakpoint) {

    //Headings
    h1{
        font-size: 14vw;
    }

    h2{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
}