.contact-form {
    .row {
      position: relative;
      padding-top: 3cqh;
  
      label {
        position: absolute;
        color: $neutral-100;
        z-index: 10;
        display: block;
        left: $padding;
        transform: translatey(17px);
        transition: transform 0.3s ease;
      }
  
      input,textarea {
        width: 100% !important;
        z-index: -1;
        padding: $padding;
        border-radius: $radius;
        margin-bottom: $gap;
        color: $neutral-100;
        background-color: transparent;
        border: 2px solid $neutral-700;
        resize: none;
      }
      textarea{
        min-height: 200px;
      }

      &.active{

        label{
            transform: translatey(-30px);
            transition: transform 0.3s ease;
        }
      }
  }
  button{
    padding: $padding;
    border-radius: $radius;
    border: none;
    width: 100%;
    max-width: 500px;
    background:  linear-gradient(90deg, $secondary-700, $primary-700);
    color: $neutral-100;
    position: relative;
    transition: $transition;
    margin: auto;

    &:after{
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: $radius;
      content: '';
      background:  linear-gradient(90deg, $secondary-700, $primary-700);
      z-index: -1;
      left: 0px;
      top: 0px;
      opacity: 0;
      transition: $transition;
    }

    &:hover{

      &::after{
        filter: blur(10px);
        opacity: 1;
      }
    }
  }
}