.login-form{
    margin: auto;
    max-width: 400px;
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: $gap;
    height: 100vh;
    justify-content: center;
    color: $neutral-300;

    input{
        padding: $padding;
        border-radius: $radius;
        border: 2px solid $neutral-500;
        background-color: transparent;
    }
    button{
        padding: $padding;
        border-radius: $radius;
        border: none;
        background-color: $neutral-100;
    }
}