header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;
    color: $neutral-100;
    background-color: $transparent;
    z-index: 100;
    transition: $transition;

    &.fixed{
        background-color: $neutral-900;
    }

    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            font-size: 36px;
            font-weight: 300;
        }

        .burger{
            display: none;
        }
    }
    nav{
        display: flex;
        gap: $gap;
        align-items: center;
        
        a{
            font-size: 1.5rem;
            font-weight: 200;
            color: $neutral-100;
            transition: $transition;

            &:hover{
                color: $neutral-300;
                text-decoration: none;
            }

            &.active{
                color: inherit;
                text-decoration: none;
                border-bottom: 1px solid red;
            }
        }
    }
}


//Mobile
@media (max-width: $mobile-breakpoint) {
    header{
        flex-direction: column;
    
        .header-content{
            display: flex;
            justify-content: space-between;
    
    
            .burger{
                display: block;
            }
        }

        nav{
            background-color: pink;
            align-items: flex-end;
            flex-direction: column;
            display: none;

            &.active{
                display: block;
            }
        }
    }
}