header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;
    color: $neutral-100;
    background-color: $transparent;
    z-index: 100;
    transition: $transition;

    &.fixed{
        background-color: $neutral-900;
    }
    &.hidden{
        transform: translatey(-100%);
    }
    .header-wrapper{
        max-width: 1530px;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .header-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1530px;
            padding: 0 $padding;
    
            .logo{
                padding: $padding 0;
                img{
                    height: 20px;
                }
            }
    
            .burger{
                display: none;
            }
        }
        nav{
            display: flex;
            gap: $gap;
            padding: $padding;
            align-items: center;
            
            a{
                font-size: 1rem;
                font-weight: 200;
                color: $neutral-100;
                transition: $transition;
    
                &:hover{
                    color: $neutral-300;
                    text-decoration: none;
                }
    
                &.active{
                    color: inherit;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
    }
}


//Mobile
@media (max-width: $mobile-breakpoint) {
    header{
        flex-direction: column;
        &:has(nav.active){
            background-color: $neutral-900;
        }

        .header-wrapper{
            flex-direction: column;

            .header-content{
                display: flex;
                justify-content: space-between;
        
        
                .burger{
                    display: block;
                    cursor: pointer;
            
                    svg{
                        height: 30px;
                        fill: $neutral-100;
                    }
                }
            }

            nav{
                align-items: flex-end;
                flex-direction: column;
                display: none;
                gap: 0px;
                transition: $transition;

                a{
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    font-size: 2rem;
                    padding: $padding;
                }

                &.active{
                    display: flex;
                    background-color: $neutral-900;
                    transform: translate(0px);
                }
            }
        }
    }
}